* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*out line thin for all input*/
input:focus {
  outline: 1px solid black;
}

/*signupform box contaner*/
.signupform1{
    display: flex;
    background-color: #F7F7F9;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100vh;
}

/* signup box */
.signupform2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#FFFFFF;
    color :#000;
    border-radius: 20px;
    box-shadow:  0 4px 5px 0 rgba(0,0, 0,0.10);
}

/*fieldset managing*/
fieldset{
    display: flex;
    flex-direction: column;
    height: 450px;
    width: 350px;
    font-family: 'Poppins', sans-serif;
    border-radius: 20px;
    border: none;
}

/*sign-up title */
h2 {
    position: relative;
    display: flex;
    justify-content: center;
    top:20px;
    font-weight:500;
    font-size: 25px;
}

/*sign-up description */
h4 {
    position: relative;
    display: flex;
    justify-content: center;
    top:20px;
    font-weight:500;
    font-size: 15px;
}


/*signup  page email fields*/
#name1, #name2{
    position: relative;
    width: 147px;
    left: 23px;
    top: 60px;
    height: 40px;
    padding:5px;
    border-radius: 5px;
    box-shadow:  0 2px 3px 0 rgba(0,0, 0,0.10);
    border: none;
}

/*signup  page email fields*/
#signupemail{
position: relative;
width: 300px;
align-self: center;
top: 80px;
height: 40px;
padding:5px;
border-radius: 5px;
border: none;
box-shadow:  0 2px 3px 0 rgba(0,0, 0,0.10);

}

/*signup password fields*/
#sign1password, #sign2password{
position: relative;
display: flex;
width: 300px;
align-self: center;
border-radius: 5px;
border: none;
box-shadow:  0 2px 3px 0 rgba(0,0, 0,0.10);

}

#sign1password {
top:100px;
height:40px;
padding: 5px;
}

#sign2password {
top:120px;
height:40px;
padding:5px;

}

/*terms and condition dic box*/
#check{
position: relative;
display: flex;
align-items: center;
top: 135px;
left: 75px;
font-family: 'Poppins', sans-serif;
font-weight: 110px;
font-size: 12px;
}

/*signup samit buttom*/
#signup{
  position: relative;
  align-items: center;
  justify-content: center;
  align-self: center;
  background-color: #1E1EE0;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  width: 50%;
  height: 40px;
  top:150px;
 font-family: 'Poppins', sans-serif;
}

#signup:hover{
  background-color: #1717B8;
  transition: background-color 0.4s ease;
}